* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}

.container-2 {
  margin-top: 50px;
  display: flex;
}
.fadein {
  width: 250px;
  height: 200px;
  background-color: rgba(0, 255, 255, 0.3);

  padding: 90px;
}
.fadein:hover {
  background-color: aqua;
}
.changecolor {
  width: 250px;
  height: 200px;
  background-color: red;
  margin-left: 20px;
  padding: 90px;
}
.changecolor:hover {
  background-color: aqua;
}
.grow {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 20px;
  text-align: center;
  padding-top: 2%;
  transition: 1s, 1s;
}
.grow:hover {
  background-color: aqua;
  width: 250px;
  height: 200px;
}
.shrink {
  width: 250px;
  height: 200px;
  background-color: red;
  margin-left: 20px;
  text-align: center;
  padding-top: 2%;
  transition: 1s, 1s;
}
.shrink:hover {
  background-color: aqua;
  width: 100px;
  height: 100px;
}
.rotate {
  width: 250px;
  height: 200px;
  background-color: red;

  text-align: center;
  padding-top: 2%;
}
.rotate:hover {
  background-color: aqua;
  transform: rotate(30deg);
}

.square {
  width: 250px;
  height: 200px;
  margin-left: 20px;
  background-color: red;
  text-align: center;
  padding-top: 2%;
  
  transition: 1s, 1s;
}
.square:hover {
  background-color: aqua;
  border-radius: 50%;
}
.border {
    width: 250px;
    height: 200px;
    margin-left: 20px;
    background-color: red;
    text-align: center;
    padding-top: 2%;
   
  }
  .border:hover {
    background-color: aqua;
    border: 10px solid black;
  }
